@import "tailwindcss";
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope.woff2') format('woff2');
}

body {
    padding: 0;
    margin: 0;
    font-family: Manrope;
    background: #121212;
}
p {
    margin-bottom: 15px;
    line-height: 1.75rem;
    color: #9f9fa9;
}
h1,h2,h3,h4,h5,h6 {
    color: #f5f4f4;
}
button:hover {
    cursor: pointer;
}
.c-log {
    cursor: default;
}
/* Убираем длинные линии */
blockquote {
    /*margin: 1.5em 0;*/
    padding: 0.5em 1em;
    font-style: italic;
    color: #ccc;
    position: relative;
    text-align: center;
}

/* Псевдо-элементы рисуют только короткие полоски */
blockquote:before,
blockquote:after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: #777;
    margin: 0.5em auto;
}
figure {
    margin: 1.5em 0;
    text-align: center;
}
figcaption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #aaa;
}